<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jewellery Store</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/phone.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.webp') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
</head>
<body>

    <!--==header===============================-->
    <header id="header">
        <!--==top-bar================-->
        <div class="header-top-bar">
            <span> Welcome to Jewellery Store </span>
        </div>
        <!--==navigation=================-->
        <nav class="navigation">
            <!--**logo***-->
            <a href="#" class="logo">
                <img src="{{ url_for('static' , filename='images/logo.webp') }}" alt="logo">
            </a>
            <!--**menu**-->
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('category') }}">Category</a></li>
                <li><a href="{{ url_for('product') }}"> Product</a></li>
                <li><a href="{{ url_for('blog') }}">Blog</a></li>
                <li><a href="{{ url_for('cart') }}">Cart</a></li>
                <li><a href="{{ url_for('checkout') }}">Checkout</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
            <!--*right-nav**-->
            <div class="right-nav">
                <a href="#" class="nav-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <a href="{{ url_for('admin') }}" class="nav-user">
                    <i class="fa-regular fa-user"></i>
                </a>
                <a href="#" class="nav-cart">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>
                        0
                    </span>
                </a>
            </div>
        </nav>
    </header>

    <div class="container mt-5 shadow ">
        <div class="row ">
            <div class="col-md-4 bg-primary p-5 text-white order-sm-first order-last">
                <h2>Let's get in touch</h2>
                <p>We're open for any suggestion or just to have a chat</p>
                <div class="d-flex mt-2">
                    <i class="bi bi-geo-alt"></i>
                    <p class="mt-3 ms-3">Address : Road 198 West 21th Street, Suite 721 Singapor WW 10016</p>
                </div>
                <div class="d-flex mt-2">
                    <i class="bi bi-telephone-forward"></i>
                    <p class="mt-4 ms-3">Phone : 8888888888</p>
                </div>
                <div class="d-flex mt-2">
                    <i class="bi bi-envelope"></i>
                    <p class="mt-4 ms-3">Email : contactform@gmail.com</p>
                </div>
                <div class="d-flex mt-2">
                    <i class="bi bi-youtube"></i>
                    <p class="mt-4 ms-3">Channel : www.contactform.com/</p>
                </div>
            </div>
            
            <div class="container mt-5">
                <div class="col-md-8 p-5">
                    <h2>Get in touch</h2>
                    <form method="POST" action="{{ url_for('contact') }}">
                        <div class="row g-3 contactForm mt-4">
                            <div class="col-md-6">
                                <label for="firstname" class="form-label">First Name</label>
                                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="lastname" class="form-label">Last Name</label>
                                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name" required>
                            </div>
                            <div class="col-12">
                                <label for="message" class="form-label">Message</label>
                                <textarea id="message" name="message" class="form-control" rows="6" placeholder="Message" required></textarea>
                            </div>
                            <div class="col-12">
                                <label for="email" class="form-label">Email Id</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" required>
                            </div>
                            <div class="col-md-6">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                            </div>
                            <div class="col-md-6">
                                <label for="contactnumber" class="form-label">Contact Number</label>
                                <input type="text" class="form-control" id="contactnumber" name="contactnumber" placeholder="Contact Number" required>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-container">
            <div class="footer-company-box">
                <a href="#" class="logo">
                    <img src="{{ url_for('static', filename='images/logo.webp') }} ">
                </a>
                <p>Our jewellery is certified by prestigious authorities such as BIS Hallmark, SGL, IGI, and GSI to ensure each inspired by different facets of life. From gold and platinum to diamonds and gemstones, offers 100% certified jewellery designs</p>
                <div class="footer-social">
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-x"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>

            <!--link-box-->
            <div class="footer-link-box">
                <strong>Main Links</strong>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Category</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Feature</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>

            <div class="footer-link-box">
                <strong>External Links</strong>
                <ul>
                    <li><a href="#">Our Products</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Disclaimer</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Blogs</a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <span class="footer-owner">Made By SVSS</span>
                <span class="copyright">&#169; Copyright 2024 - SVSS</span>
            </div>

        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>
